body {
  background-image: url(../img/loginBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
::-webkit-scrollbar {
  display: none;
}

.container {
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 box-sizing: border-box;
}
.form-area {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0 0 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 380px;
  border-radius: 30px;
  border: 4px solid #9378cf;
}
.form-area2 {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0 0 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 750px;
  min-width: 400px;
  border-radius: 30px;
  border: 4px solid #9378cf;
}
#show {
  display: none;
}
#hide {
  display: block;
}
.brand-logo {
  cursor: pointer;
  margin: 40px 0;
}
.brand-logo2 {
  cursor: pointer;
  margin: 20px 0;
}
.form-text {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 25px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.form-inputs {
  text-align: center;
}
.form-inputs input {
  border: 1px solid #6244a4de;
  background-color: #f4f4f4;
  color: #333;
  width: 320px;
  margin: 4px 0;
  padding: 15px 15px;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}
input:focus {
  background-color: #eeeeeee5;
  border-radius: 50px;
  width: 350px;
  outline: none;
  transition: 0.3s;
  margin:4px 0;
}
.form-inputs button {
  width: 320px;
  cursor: pointer;
  background-color: #6244a4de;
  border: none;
  padding: 15px 15px;
  border-radius: 30px;
  margin-top: 30px;
  transition: background-color 0.3s;
}
.form-inputs button:hover {
  background-color: #6344a4;
  transition: background-color 0.3s;
}

.form-inputs a {
  color: #f4f4f4;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.splitter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.splitter input {
  margin: 5px 15px;
}

.form-input-a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(51, 51, 51, 0.795);
  margin: 10px auto;
  text-shadow: 0 0px 2px rgb(0, 0, 0);
}
.new-acc {
  text-decoration: none;
  font-size: 20px;
  color: #6244a4e7;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.new-acc:hover {
  color: #3c2964e7;
}

.bottom-section {
  color: #f4f4f4;
  font-size: 18px;
  font-weight: 200 !important;
  font-family: Arial, Helvetica, sans-serif;
}
.bottom-section img {
  cursor: pointer;
}
.forget-pass {
  font-weight: 500;
  margin-top: 15px;
  text-decoration: none;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(51, 51, 51, 0.699);
}
.forget-pass a {
  font-size: 16px;
  text-decoration: none;

  font-weight: 500;
  color: rgba(51, 51, 51, 0.808);
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
}
.forget-pass a:hover {
  font-weight: 500;
  transition: 0.3s;

  color: rgb(32, 32, 32);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
.splitter{
  display: block;
  margin: 0;
}

.show{
  max-width: 200px;
}
}