::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body {
  background: url(../img/bgO.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul {
  margin-right: 150px !important;
}
nav li a {
  margin-top: 20px;
  border-radius: 30px;
  position: relative;
  color: rgba(51, 51, 51, 0.699);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow: hidden;
  padding: 12px 15px;
  line-height: 1.4rem;
  transition: all 0.5s;
}
nav li a:hover {
  background: #6344a4;
  position: relative;
  color: #f4f4f4 !important;
  border-radius: 30px;
  outline: none;
  transition: all 0.5s;
  color: #6344a4;
}

.active {
  position: relative;
  color: rgba(51, 51, 51, 0.699);
  border-radius: 30px;
  outline: none;

  letter-spacing: 2px;
}
/*font section*/

.active:active {
  outline: none;
}
.active:hover {
  background: #6244a4c5;
}
/* .active:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #6344a4;
  left: 9%;
  bottom: 25%;
} */

/* nav li a:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #6344a4;
  left: -100px;
  bottom: 25%;
  transition: 0.5s;
}
nav li a:hover:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #6344a4;
  left: 10%;
  bottom: 25%;
  transition: 0.5s;
} */

.brand-logo {
  margin-left: 0px;
  margin-top: 30px;
}
.right {
  margin-right: 50px;
}
.right li a {
  margin-right: 50px;
}

/*conent*/
.content {
  width: 50%;
  margin: 40px 0 0 80px;
}
.head-content {
  font-size: 50px;
  font-weight: 800;
  color: #333;
  margin-top: 80px;
  line-height: 3.5rem;
}
.slogan {
  font-size: 30px;
  color: rgba(51, 51, 51, 0.829);

  font-family: sans-serif;
  text-transform: capitalize;
  margin: -50px 0 -10px 0;
}
.lorem {
  text-align: left;

  color: rgba(51, 51, 51, 0.829);
}
.user-area {
  display: flex;
  margin: 50px 0 0 0px;
  text-align: center;
  width: 100%;
  position: relative;
  color: rgba(51, 51, 51, 0.829);
}
/* .user-area:before {
  content: "";
  position: absolute;
  left: 42%;
  top: 0%;
  height: 100%;
  width: 2px;
  background-color: #6344a4;
} */
.user-area button {
  margin: 0 auto;
  background-color: #6344a4;
  border: none;
  padding: 15px 80px;
  border-radius: 30px;
  text-shadow: 0 0px 2px rgb(0, 0, 0);

  transition: 0.5s;
}
.user-area button:hover {
  background-color: #6244a4de;

  transition: 0.5s;
}

.user-area a {
  color: #f4f4f4;
  font-weight: 600;
  font-size: 23px;
}
.leftside {
  /* border: 2px solid #6344a4;*/

  border-right: 1px solid #6344a4;
  padding: 0 20px;
}
.rightside {
  padding: 0 20px;

  border-left: 2px solid #6344a4;

  /* border:2px solid #6344a4; */
}
.footer {
  margin: 100px 0 0 50px;
}
button {
  cursor: pointer;
}
.icons i {
  margin: 4px;
  font-size: 20px;
  color: #333;
}
