body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: rgba(0, 0, 0, 0);

  width: 100%;
  height: 80px;
  border-bottom: 1px solid #6244a4f8;
  box-shadow: 0 0 3px #6244a4e3;
  /* position: fixed; */
}

nav li a {
  margin-top: 15px;
  border-radius: 30px;
  border: 1px solid #6244a4e3;
  position: relative;
  color: #6344a4;
  font-weight: 700;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow: hidden;
  padding: 12px 20px;
  line-height: 1.4rem;
  transition: all 0.5s;
}

nav li a:hover {
  background: #6344a4;
  position: relative;
  color: #f4f4f4 !important;
  border-radius: 30px;
  outline: none;
  transition: all 0.5s;
  color: #6344a4;
}

.brand-logo {
  cursor: pointer;

  margin-top: 5px;
}

.right li a {
  margin-right: 50px;
}

/* CONTENT-AREA */
.container {
  margin-top: 10px;
  background: rgb(241, 241, 241, 0.4);
  width: 1200px !important;
  padding: 40px;
}

.form-a-border input {
  min-height: 20px !important;
  padding : 0 25px !important;
  border: 1px solid #6344a4 !important;
  border-radius: 15px !important;
  max-width: 560px !important;
  margin-bottom: 20px !important;
}

.cont-container {
  padding: 20px 10px;
}

.form-a-border input:focus {
  all: unset !important;
  padding : 0 25px !important;
  min-width: 560px !important;
  min-height: 45px !important;
  border: 1px solid #6344a4 !important;
  border-radius: 15px !important;
  margin-bottom: 20px !important;
}

.disc textarea {
  height: 90px;
  border-radius: 10px;
  padding: 10px 10px;
}

.form-a {
  width: 600px;
}

.form-a-border {
  padding: 30px 0;
  border-bottom: 2px solid #6344a4;
}
.section-a {
}

.photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.photo-area {
  padding: 0px 0;
  border-bottom: 2px solid #6344a4;
}
.photo-divs {
  width: 200px;
}
.photo-title {
  margin-bottom: -30px;
}
.photo-title p {
  margin: -10px 0 30px 0;
  text-transform: capitalize;
}

input[type="radio"]:checked {
  border: none !important;
}

input[type="file"] {
  background: none !important;
}

.form-a-border2 input {
  all: unset !important;
  border: none !important;
  min-width: 600px !important;
  min-height: 45px !important;
  padding : 0 25px !important;
  border: 1px solid #6344a4 !important;
  border-radius: 15px !important;
}

.form-a-border2 input:focus {
  all: unset !important;
  border: none !important;
  min-width: 600px !important;
  min-height: 45px !important;
  padding : 0 25px !important;
  border: 1px solid #6344a4 !important;
  border-radius: 15px !important;
}

.cont-radio {
  display: flex;
  color: red;
}

.cont-radio p {
  margin-right: 50px;
  color: black;
}

.img {
  width: 200px;
  height: 150px;
  position: relative;
  font-size: 30px;
  color: #6344a4;
  border: 2px solid #6344a4;
  border-radius: 10px;
  margin-bottom: 30px;
}

.img i {
  margin-top: -45px;
  margin-left: 85px;
}

.submit-btn {
  background: #6344a4;
  border: none;
  font-size: 20px;
  padding: 15px 100px;
  border-radius: 30px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
}

.submit-btn:hover {
  background: #4e2c96;
}

.submit-btn:focus {
  background: #4e2c96;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #4e2c96;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #4e2c96;
}

#price-bar {
  position: relative;
  margin-top: 20px;
  font-size: 20px;
  
}




#price-bar::before {
  position: absolute;
  content: '$';
  color: green;
  width: 50px;
  height: 50px;
  top: 39%;
  font-size: 20px;
  left: 10px;



